@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root{
    --primary-color: rgb(102, 77, 49);
    --primary-color-dark: rgb(145, 107, 66);
    --secondary-color: rgb(106, 175, 117); 
    --secondary-color-dark: rgb(65, 107, 71); 
    --btn-color: rgb(199, 60, 29); 
    --btn-color-dark: rgb(209, 237, 213);
}

*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color);
}

.container-all{
    background-color: var(--secondary-color-dark);
    margin: 5rem auto;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.container-all h1{
    text-align: center;
    font-size: 32px;
    color: #fff;
    margin-top: 16px;
}

.textAll{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-self: center;
    padding: 24px 5px;
}

.textAll .numbers{
    margin: 0 64px 0 0;
}

.textAll .numbers, .textAll .text{
    color: #fff;
    font-size: 18px;
}

section form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: 400px;
}

form label{
    font-size: 18px;
    color: #fff;
    padding: 2px 0 0 0;
}

form input {
    border: none;
    margin: 3px 0 10px 0;
    border-radius: 10px;
    height: 1.5rem;
    padding-left: 0.5rem;
    font-weight: 500;
}

form button{
    width: 100%;
    max-width: 200px;
    height: 2rem;
    margin: 10px 0 20px ;
    border-radius: 10px;
    align-self: center;
    outline: none;
    font-weight: 600;
    font-size: 1rem;
    background: var(--btn-color-dark);
}

form button:hover{
    background: var(--btn-color);
}

.resultado{
    align-self: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.valueTrue, .valueFalse{
    padding: 1rem 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.valueFalse{
    border-radius: 10px;
    background-color: #ff0000;
    width: 100%;
    max-width: 250px;
    
}
